.ipynb_checkpoints/
.idea/
test/
valid/
train/
Classification/
.streamlit/secrets.toml
secrets.toml
.env
client_secret.json
storage/
__pycache__/
agrohealth-456405-4f4333b07084.json
trained_model2.keras